@media screen and (max-width:1199px) {
    h2 {
        font-size: 40px;
        line-height: 50px;
    }

    h3 {
        font-size: 28px;
        font-weight: 600;
        line-height: 30px;
    }

    .banner_content h1 {
        font-size: 60px;
        line-height: 80px;
    }


    .crm_inner .row {
        text-align: center;
        display: block;
    }

    .crm_left {
        margin-bottom: 40px;
    }

    .automation_left {
        text-align: center;
        margin-bottom: 30px;
    }

    .automation_right {
        text-align: center;
    }

    .img_right_auto {
        text-align: center;
    }

    .dollar_saved .main_row_dollar {
        display: block;
    }

    .crm_left img {
        width: 100%;
        margin-bottom: 40px;
    }

    .dollar_saved p {
        font-size: 20px;
    }

    .col-vs img {
        width: -webkit-fill-available;
        height: 200px;
        object-fit: none;
    }

    .print_demand_cards {
        padding-top: 60px;
        padding-left: 0px;
    }
    .nav_logo a img {
        max-width: 210px;
    }
    .banner_content h6 {
        font-size: 22px;
    }
    .left_dollar_sec img {
        max-width: 534px;
    }
    .research_suggestion h4 {
        font-size: 24px;
    }
    .puh2 {
        font-size: 20px;
        line-height: 32px;
    }
    .print_on_demand p {
        font-size: 20px;
        line-height: 32px;
    }
    .print_on_demand p {
        margin-bottom: 20px;
    }
    .make_different.section {
        padding-top: 0;
    }
}


@media screen and (max-width:991px) {
    header.sticky ul.nav_ul li:hover {
        border-bottom:1px solid transparent;
    }
    ul.nav_ul li:hover {
        border-bottom:1px solid transparent;
    }
    header {
        background-image: unset;
        background-color: #0f5ff4;
    }

    .banner_content h1 {
        font-size: 50px;
        line-height: 65px;
    }

    h2 {
        font-size: 35px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 18px;
    }

    h3 {
        font-size: 28px;
        font-weight: 600;
        line-height: 30px;
    }

    h4 {
        font-size: 19px;
        font-weight: 600;
        line-height: 26px;
    }

    .nav_header ul li {
        display: inherit;
        margin-left: 0px;
        padding: 13px 6px;
        background: transparent;
        transition: all .5s linear;

    }


    .nav_header .logo {
        float: none;
    }

    .nav_header ul.nav_ul {
        display: block;
        padding: 0px;
        margin-right: 0px;
        border-radius: 3px;
        transition: max-height 0.2s ease-out;
        max-height: 0;
        overflow: hidden;
        height: 500px;
    }

    .nav_header ul li a {
        color: rgba(255, 255, 255, 1);
    }

    .btn-toggle {
        display: block;
    }

    nav {
        display: block;
    }

    .nav_header .top_login_signup {
        text-align: start;
    }

    .nav_header .top_login_signup a {
        margin-left: 0px;
        margin-right: 20px;
    }

    .nav_header .top_login_desktop {
        display: none;
    }

    .nav_header .top_login_mob {
        display: block;
        margin-top: 15px;
    }

    .get_started.section .row {
        text-align: center;
        display: block;
    }

    .our_journey.section {
        margin-top: 0px;
        padding-top: 60px;
    }

    .research_suggestion h4 {
        font-size: 20px;
    }

    .row.journey_row_second {
        padding: 0px;
    }

    .left_started h2 {
        font-size: 30px;
    }

    .get_started.section {
        background: #000;
        margin: 0 15px;
        border-radius: 24px;
    }
    .research_suggestion h4 {
        font-size: 18px;
    }
    .left_started h2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:767px) {
    .banner_content h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .section {
        padding: 20px 0;
    }

    .main_marketing_crm_row {
        display: block;
    }

    .crm_left img {
        width: 100%;
    }
    .top_main {
        padding: 0px 0 230px;
    }
    .main_img_wrapper {
        margin-top: -170px;
    }
    .popup-content {
        width: 100%;
    }
    .container_accord_img img {
        object-fit: cover;
        height: 500px;
    }
    .desktop_cara{
        display: none;
    }
    .mob_cara{
        display: block;
    }
    .container_accord_img {
        height: 500px;
    }
    .slick-initialized .slick-slide {
        margin: 0 0px 0 0;
    }
    .customer_card {
        width: auto;
    }
 .make_different {
    display: none;
 }
 .images_sec{
    display: flex;
 }
 .slider_make
 {
   display:flex;
 }
 p.puh2 {
    font-size: 16px;

}

.price_card {

    min-height: 700px;
}
.switches-container {
    margin-top: 20px;
}
.section br{
    display: none!important;
} 
.puh2{
    padding: 0 20px;
}
.crm_left img {

    margin-bottom: 0px;
}
.research_suggestion {

    padding: 20px 10px!important;
}
.crm_inner {
    padding-top: 30px;
}
.print_demand_cards {
    padding-top: 30px;
}
}

@media screen and (max-width:575px) {
    .banner_content p {
        max-width: -webkit-fill-available;
    }

    .banner_content h1 {
        font-size: 26px;
        line-height: 40px;
        margin-top: 30px;
    }

    .banner_content h6 {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .demo_btn {
        margin-left: 10px;
    }

    .top_main {
        padding: 0px 0 120px;
    }

    .our_journey.section {
        margin-top: 60px;
    }

    .col-vs {
        display: none;
    }

 

    h2 {
        font-size: 24px;
        margin-bottom: 18px;
    }

    h4 {
        font-size: 16px;
        padding: 0 10px;
    }

    .left_started h3 {
        font-size: 20px;
        color: #fff;
    }

    .banner_content p {
        line-height: 18px;
    padding: 12px 6px;
    font-size: 14px;
    }

    a.common_btn.trial_btn {
        padding: 13px 15px;
        font-size: 12px;
    }

    a.common_btn.demo_btn {
        padding: 11px 15px;
        font-size: 12px;
    }

    .automation {

        padding: 10px !important;
    }
    .main_img_wrapper {
        margin-top: -70px;
    }
    .our_journey.section {
        margin-top: 0;
    }
    .left_started h2 {
        font-size: 26px;
    }
    .left_started h3 {
        font-size: 16px;
    }
    .left_started {
        padding-left: 0;
    }
    .btn_start.common_btn {
        padding: 15px 30px;
    }
   
    .banner_buttons {
        margin-top: 30px;
    }
 
    div#price {
        padding-bottom: 0;
    }
    .heading_with_para p {
        font-size: 15px;
    }
    .crm_inner {
        padding-top: 30px;
    }
    .crm_left {
        margin-bottom: 0px;
    }
    .print_on_demand p {
        font-size: 16px;
        line-height: 26px;
        padding: 0 6px;
    }
    .print_demand_cards {
        padding-top: 30px;

    }
    .slick-slider {
        text-align: center;;
    }
    .second_crm_cp {
        margin-top: 30px;
    }
    .right_choice h2 {
        margin-bottom: 20px;
    }
    div#why_crm {
        text-align: center;

    }
    .my-slider {
        padding: 0 10px;
    }
    
}